@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
   
}
body{
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}
.hero> :nth-child(1){
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
}
.hero> :nth-child(2) {
    text-align: center;

    font-weight: 400;
    font-size: 26px;
}
.hero> :nth-child(3) {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.hero div{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
}
.sepration {
    height: 9px;
    background-color:rgb(47, 46, 46);
}
.btn{
    font-family: 'Martel Sans', sans-serif;
    width: 110px;
    height: 32px;
    padding: 4.8px 8px;
    font-weight: bold;
    background-color: rgba(24, 24, 24, 0.408);
    color: white;
    border-radius: 0.25rem;
    border: rgb(90, 90, 90) 1px solid;

}
.btn2{
    font-family: 'Martel Sans', sans-serif;
    width: 110px;
    height: 32px;
    padding: 4.8px 8px;
    font-weight: bold;
    background-color: rgba(24, 24, 24, 0.408);
    color: white;
    border-radius: 0.25rem;
    border: rgb(90, 90, 90) 1px solid;

}

.btn-red-sm{
    height: 32px;
    width: 70px;
    padding: 3px 8px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 0.25rem;
    border: none;
    

}
.btn-red {
    padding: 7px 22px;

    font-weight: bold;
    background-color: red;
    color: white;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 0.25rem;
    border: none;


}
.main input {
    padding: 7px 22px;
    width: 227px;
    font-size: 20px;
    border: none;
    background-color: rgba(24, 24, 24, 0.408);
    color: white;
    border-radius: 0.25rem;
    border: rgb(90, 90, 90) 0.9px solid;
}